{% extends 'user/base.html' %}

{% block title %}
    关于我们
{% endblock %}
{% block head %}
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/about.css') }}" rel="stylesheet" type="text/css"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
{% endblock %}
{% block main %}
      <img src="../../static/images/嘉定1.jpg" alt="Team Photo" style="width: 700px; display: block; margin: 0 auto;">

    <div class="about_area container base_word">

        <h2 class="about_title">同济大学二手商城</h2>
        <span class="about_small">一个可以帮你处理闲置商品的网站</span>
        <p class="about_desc_red">
            本网站非盈利的二手商城，仅供同济大学在校师生使用，欲使用本平台，您需要拥有同济edu邮箱
        </p>
        <p class="about_desc">
            我们很感谢每一个注册本系统的用户，是您的肯定让我们走的更远，希望我们的工作能帮助到您，让您的校园生活变得更美好！
        </p>
    <div class="team-member">
    <img src="../../static/images/黄建鑫-个人照片-美漫2.png" alt="Member 1">
    <br><span class="about_small">黄建鑫</span><br>
    <p class="about_desc_pu">
        同济大学2021级本科生，沉迷后端开发和调制生发药水。
    </p>
    <br><p class="about_desc">
        负责本站的产品prd分析，后端开发和服务器运维
    </p>
  </div>

  <div class="team-member">
    <img src="../../static/yly.jpg" alt="Member 2">
    <br><span class="about_small">袁良宇</span><br>
      <p class="about_desc_pu">
          同济大学21级本科生

    </p>
    <p>
        负责本站业务流程部分以及前端部分的开发
    </p><br><br><br><br><br>
  </div>

    </div>
{% endblock %}
