<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}-同济二手交易市场</title>
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='校徽_无底色.png') }}" type="image/png">
    <link href="{{ url_for('static',filename='css/slider.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/common.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ url_for('static',filename='js/base.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static',filename='sweetalert/xlalert.js') }}"></script>
    <link href="{{ url_for('static',filename='circle/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='circle/circle.css') }}" rel="stylesheet" type="text/css"/>

    {% block head %}{% endblock %}
</head>
<body>
<div class="adad_area">
{#    <img src="../../static/image/bg/sidebar.jpg">#}
</div>
<div class="header" id="fix">
    <div class="container">
        <div class="span5">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img class="logo_nyist" src="{{ url_for('static',filename='images/tj-2ndmall.png') }}" alt="同济二手交易平台"/>
                </a>
            </div>
        </div>
        <div class="span9">
            <div class="headerAd">

            </div>
        </div>
        {% include 'user/menu.html' %}
    </div>
</div>
<div id="main_show_id" class="main_show">
    {% block main %}{% endblock %}
    {#小火箭#}
    <div style="display: none;" id="rocket-to-top">
        <div style="opacity:0;display: block;" class="level-2"></div>
        <div class="level-3"></div>
    </div>
</div>
<div class="my_footer">
    <div class="container footer">
        <div class="span24">
            <div class="footerAd">
                <img src="{{ url_for('static',filename='image/footer.jpg') }}" width="950" height="52" alt="我们的优势"
                     title="我们的优势">
            </div>
        </div>
        <div class="span24">
            <div class="copyright">Copyright © 2023 同济二手交易市场 版权所有</div>
        </div>
    </div>
</div>
<div class="easy_nav">
    <div class="cart" title="去购物结算">
        <a href="/user/userInfo?tab=1">
            <img src="../static/images/购物车.svg" class = "easy_nav_img"></img>
        </a>
        <a href="/user/userInfo?tab=1">购物车</a>

        {% if last_time != null and last_time != "" %}
            <div class="last_time">{{ last_time }}</div>
        {% endif %}

    </div>

    </div>

</div>
</body>
</html>